@import 'compass';
@import 'compass/css3';

$default-text: #444;
$lighter-text: #888;
$bar1-midbg: #222;
$bar1-bottombg: #222;
$light-bg1: #111;
$mid-bg1: #ababab;
$mid-bg1-highlight: #a9a9a9;
$link-color: #75959D;
$visited-text: lighten($link-color, .2);
$standard-radius: 5px;
$primary-gradient-base-color: #e6e6e6;
$primary-gradient-highlight-color: white;
$primary-gradient: linear-gradient($primary-gradient-highlight-color, $primary-gradient-base-color);

body{
  font: 12pt Ubuntu, "Helvetica Neue", Helvetica;
  color: $default-text;
  margin-left: 20%;
  margin-right: 20%;
  background: #fff;
  line-height: 120%;
}

a {
  color: $link-color;
}

label {
  display: block;
}

#forums, .topics {
  .title {
    font-size: 175%;
  }
}

#forum, #topic {
  position: relative;
  .secondary-nav{
    position: absolute;
    right: 0;
    top: 0;
  }
  .description{
    color: $lighter-text;
    font-style: oblique;
  }
  menu{
    padding-left: 0;
    a{
      border: 1px solid #ccc;
      font-size: .85em;
      padding: .4em .75em .5em;
      display: inline-block;
      @include single-box-shadow(rgba(0, 0, 0, 0.2), 0, 1px, 2px);
      @include border-radius($standard-radius);
      @include background($primary-gradient);
      background-repeat: repeat-x;
      background-color: $primary-gradient-base-color;
      color: $default-text;
      text-decoration: none;
      margin: 0;
      &:hover{
        background-position: 0 -15px;
        @include single-transition(background-position, 0.1s, linear);
      }
    }
  }
}

#topic, #forum {
  h2{
    font-weight: normal;
    padding: 0.5em 0;
    position: relative;
    color: lighten($default-text, 20%);
    margin: 0;
    a{
      text-decoration: none;
      color: $link-color;
      &:hover{
        text-decoration: underline;
      }
    }
    a.reply{
      margin-right: 1em;
      font-weight: normal;
      position: absolute;
      right: 0;
      padding: .5em;
      background-color: #fff;
      font-size: .5em;
      text-decoration: none;
      &:hover{
        // background-color: $light-bg1;
      }
    }
  }
}

form {
  label {
    font-size: 80%;
    abbr {
      display: none;
    }
  }
  input, textarea {
    padding: .5em;
    font-size: 110%;
  }
}

.moderation {
  clear: both;
  font-size: .8em;
  background: #9C0000;
  @include border-radius($standard-radius);
  color: white;
  width: 90%;
  font-weight: bold;
  padding: 5px;
}

#posts{
  // http://www.quirksmode.org/css/clearing.html
  overflow: hidden;
  width: 100%;

  .odd {
    background-color: #F9F9F9;
  }
  .even {
    background-color: #efefef;
  }
  .post{
    position: relative;
    min-width: 35em;
    min-height: 75px;
    @include display-box;
    @include box-orient(horizontal);
    @include box-align(stretch);
    clear: both;

    .user{
      font-size: .8em;
      min-width: 75px;
      min-height: 100px;
      padding: .5em 1em;
      .username{
        padding-bottom: .7em;
      }
      .icon{
        background: transparent url(http://placekitten.com/50/50) no-repeat;
        width: 50px;
        height: 50px;
        text-align :right;
        // display: inline-block;
      }
    }
    .contents{
      @include box-flex(1);
      min-height: 100px;
      border-left: 1px solid #ddd;
      padding: 1em 1em;

      span.in_reply_to {
        font-size: 80%;
      }

      p, ul, pre, blockquote, span.in_reply_to {
        clear: both;
        float: left;
        padding: 5px;
      }

      p {
        margin: .5em 0em 0em 0em;
      }

      blockquote {
        @include border-radius($standard-radius);
        padding: 0;
        width: 83%;
      }

      ul {
        margin-left: 2em;
        p {
          padding: 0;
          margin: 0;
          float: none;
        }
      }

      pre {
        width: 90%;
        background: #dfdfdf;
      }

      time{
        float: left;
        clear: both;
        padding: 5px;
        color: $lighter-text;
        font-size: .7em;
        display: inline-block;
      }

      &:hover .actions{
        display: block;
      }
      .actions{
        display: none;
        position: absolute;
        top: -10px;
        right: 0px;
        float: right;
        @include border-radius($standard-radius);
        list-style-type: none;
        li{
          a{
            padding: .4em .75em .5em;
            margin-bottom: .4em;
            font-size: .7em;
            text-align :center;
            display: block;
            border: 1px solid #ccc;
            @include single-box-shadow(rgba(0, 0, 0, 0.2), 0, 1px, 2px);
            @include border-radius($standard-radius);
            @include background($primary-gradient);
            background-repeat: repeat-x;
            background-color: $primary-gradient-base-color;
            color: $default-text;
            text-decoration: none;
            &:hover{
              background-position: 0 -15px;
              @include single-transition(background-position, 0.1s, linear);
            }
          }
        }
      }
    }
  }
}

table.subdued{
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  a{
    text-decoration: none;
    &:visited{
      color: $visited-text;
    }
    &:hover{
      text-decoration: underline;
    }
  }
  td, th{
    padding: .5em;
    &.topics-count, &.views-count, &.posts-count{
      text-align: center;
    }
  }
  td{
    border-top: 1px solid #DDD;
    vertical-align: top;
  }
  thead{
    th{
      color: $default-text;
      font-weight: bold;
      text-align: left;
    }
  }
  tbody{
    color: $lighter-text;
    .subject{
    }
    .started-by{
      font-size: .7em;
      color: $lighter-text;
    }
    .latest-post{
      font-size: .7em;
      width: 80px;
      a{
        text-decoration: none;
        &:hover{
          text-decoration: underline;
        }
      }
    }
    .posts-count, .views-count{
      width: 80px;
    }
    tr.odd td{
      background-color: #F9F9F9;
    }
  }
}

.pages{
  .page{
    display: inline-block;
    padding: .25em;
    &.current{
      background-color: $light-bg1;
    }
  }
  a{
    text-decoration: none;
    &:hover{
      text-decoration: underline;
    }
  }
}

.lock.icon{
  width: 24px;
  height: 24px;
  background: transparent url(/assets/forem/lock_icon.png) 0 0;
  display: inline-block;
}

.pin.icon{
  width: 9px;
  height: 15px;
  background: transparent url(/assets/forem/pin_icon.png) 0 0;
  display: inline-block;
}

#admin_link {
  text-align: center;
}
